@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;

600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap");
@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2"), url("../fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-BoldLegacy.woff2") format("woff2"), url("../fonts/HKGrotesk-BoldLegacy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2"), url("../fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-MediumLegacy.woff2") format("woff2"), url("../fonts/HKGrotesk-MediumLegacy.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2"), url("../fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-RegularLegacy.woff2") format("woff2"), url("../fonts/HKGrotesk-RegularLegacy.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: HKGrotesk;
  font-display: swap;
  src: url("../fonts/HKGrotesk-SemiBoldLegacy.woff2") format("woff2"), url("../fonts/HKGrotesk-SemiBoldLegacy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #131313;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "HKGrotesk", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  scrollbar-width: 8px;
  scrollbar-color: #101859 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0px none #fff;
  background-color: #182484;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #101859;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__start {
  padding-top: 100px;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-menu {
  display: none;
  background-color: transparent;
}

.label-promo {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1.875rem 1fr;
  grid-template-columns: 1.875rem 1fr;
  border-radius: 0.25rem;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  background: #e2fffc;
}

.label-promo_top {
  top: 11.5702479339%;
  left: -17.9752066116%;
}

.label-promo_bottom {
  bottom: 7.4380165289%;
  left: -22.7272727273%;
}

.label-promo_right {
  bottom: 25.2066115702%;
  right: -8.4710743802%;
  background: #e2ecff;
}

.label-promo__icon {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: #101859;
}

.label-promo__icon svg {
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.label-promo__name {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #263446;
  margin-bottom: 0.25rem;
}

.label-promo__time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.75rem 1fr;
  grid-template-columns: 1fr 0.75rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-promo__time_text {
  font-size: 0.875rem;
  line-height: 0.0625rem;
  letter-spacing: -0.015em;
  color: #263446;
}

.label-promo__time_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.75rem;
  height: 0.75rem;
}

.label-doctor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4.375rem 1fr 3.75rem;
  grid-template-columns: 4.375rem 1fr 3.75rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.5625rem 0.5rem 0.5rem;
  -webkit-column-gap: 1.125rem;
     -moz-column-gap: 1.125rem;
          column-gap: 1.125rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.label-doctor__img {
  width: 100%;
  height: 4.375rem;
  background: #f5ede5;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.label-doctor__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: 100%;
  -webkit-transform: translate(-54%, -50%);
      -ms-transform: translate(-54%, -50%);
          transform: translate(-54%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.label-doctor__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label-doctor__name {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: -0.015em;
  color: #263446;
}

.label-doctor__vocation {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  letter-spacing: -0.015em;
  color: #80889e;
}

.label-doctor__btn {
  height: 2.25rem;
  width: 100%;
  background-color: #101859;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 200%;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.label-doctor__btn:hover {
  background-color: #182484;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 0.0625rem solid #d9dbdf;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4f5f2), color-stop(62%, #ffffff));
  background: -o-linear-gradient(top, #e4f5f2 0%, #ffffff 62%);
  background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 62%);
  background: #E5F5F2;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: background 350ms ease-in-out, height 350ms ease-in-out;
  -o-transition: background 350ms ease-in-out, height 350ms ease-in-out;
  transition: background 350ms ease-in-out, height 350ms ease-in-out;
}

.header.sticky {
  background: #fff;
  height: 70px;
  -webkit-box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.05);
}

.header.menu-open {
  border-bottom: none;
}

.header.menu-open::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4f5f2), color-stop(62%, #e4f5f2));
  background: -o-linear-gradient(top, #e4f5f2 0%, #e4f5f2 62%);
  background: linear-gradient(180deg, #e4f5f2 0%, #e4f5f2 62%);
  border-bottom: 0.0625rem solid #d9dbdf;
  opacity: 1;
  z-index: 14;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4f5f2), color-stop(62%, #ffffff));
  background: -o-linear-gradient(top, #e4f5f2 0%, #ffffff 62%);
  background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 62%);
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo {
  margin-right: 2.5rem;
}

.header__started {
  margin-left: auto;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.0625rem solid #d9dbdf;
  border-radius: 0.125rem;
  height: 3rem;
  width: 11.25rem;
  text-align: center;
  position: relative;
  z-index: 15;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.header__started:hover {
  border-color: #101859;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.header__started_text {
  font-weight: 600;
  color: #263238;
  margin-right: 0.625rem;
}

.header__started_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  width: 7.375rem;
  height: 2.25rem;
  position: relative;
  z-index: 15;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 14;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
}

.menu__link {
  display: block;
  font-weight: 500;
  line-height: 1.1875;
  color: #263238;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.menu__link:hover {
  color: #67c3d7;
}

.promo {
  padding-top: 8.125rem;
  position: relative;
  padding-bottom: 6.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4f5f2), color-stop(62%, #fff));
  background: -o-linear-gradient(top, #e4f5f2 0%, #fff 62%);
  background: linear-gradient(180deg, #e4f5f2 0%, #fff 62%);
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__container [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}

.promo__description-column {
  padding-top: 5.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.promo__image-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  position: relative;
}

.promo__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.203125;
  color: #263238;
  margin-bottom: 2rem;
  max-width: 36.875rem;
}

.promo__title span {
  color: #67c3d7;
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}

.promo__item-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__item-text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #263238;
}

.promo__item-text span {
  font-weight: 700;
  padding-right: 0.5rem;
}

.promo__form {
  margin-top: 2.5rem;
}

.promo__field {
  width: 30.3125rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #101859;
}

.promo__field input {
  width: calc(100% - 9.125rem);
  padding: 0 1rem;
  font-size: 1.125rem;
}

.promo__field input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.promo__field input::-webkit-input-placeholder {
  color: #9192a1;
}

.promo__field input::-moz-placeholder {
  color: #9192a1;
}

.promo__field input:-ms-input-placeholder {
  color: #9192a1;
}

.promo__field input::-ms-input-placeholder {
  font-size: 1rem;
}

.promo__field input::placeholder {
  font-size: 1rem;
}

.promo__field button {
  width: 9.125rem;
  font-weight: 600;
  height: 100%;
  background: #101859;
  color: #fff;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.promo__field button:hover {
  background: #182484;
}

.promo__img {
  position: relative;
  overflow: hidden;
}

.promo__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.promo__label {
  position: absolute;
  -webkit-box-shadow: 0px 8px 32px rgba(38, 50, 56, 0.15), 0px 2px 4px rgba(38, 50, 56, 0.08);
          box-shadow: 0px 8px 32px rgba(38, 50, 56, 0.15), 0px 2px 4px rgba(38, 50, 56, 0.08);
}

.about {
  padding-top: 5rem;
  padding-bottom: 2.75rem;
}

.about_modern {
  background: -webkit-gradient(linear, left top, right top, from(#e8fffb), to(#ffffff));
  background: -o-linear-gradient(left, #e8fffb 0%, #ffffff 100%);
  background: linear-gradient(90deg, #e8fffb 0%, #ffffff 100%);
}

.about_simple {
  background: -webkit-gradient(linear, left top, right top, from(#e5eeff), to(#ffffff));
  background: -o-linear-gradient(left, #e5eeff 0%, #ffffff 100%);
  background: linear-gradient(90deg, #e5eeff 0%, #ffffff 100%);
}

.about_simple .about__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about_simple .about__text-column {
  padding-left: 0;
  padding-right: 2.25rem;
}

.about_smart {
  background: -webkit-gradient(linear, left top, right top, from(#f7eeff), to(#ffffff));
  background: -o-linear-gradient(left, #f7eeff 0%, #ffffff 100%);
  background: linear-gradient(90deg, #f7eeff 0%, #ffffff 100%);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image-column {
  position: relative;
  width: 100%;
  max-width: 34.8125rem;
  padding-right: 2.25rem;
  padding-bottom: 2.25rem;
}

.about__image-column_simple {
  padding-right: 0;
  padding-left: 2.25rem;
}

.about__picture {
  position: relative;
  width: 100%;
  max-width: 32.5625rem;
  height: 33.5rem;
  overflow: hidden;
}

.about__picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__label-img {
  position: absolute;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__label-img_simple {
  left: 0;
  right: none;
}

.about__text-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 2.25rem;
  padding-top: 5.625rem;
}

.about__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.about__subtitle_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(103, 195, 215, 0.2);
  margin-right: 0.75rem;
}

.about__subtitle_text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
  color: #101859;
  text-transform: uppercase;
}

.about__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 118.75%;
  color: #101859;
  margin-bottom: 1.25rem;
}

.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.about__article p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  color: #5e676b;
}

.contact-us {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.contact-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__image-column {
  position: relative;
  width: 38.375rem;
  max-width: 100%;
}

.contact-us__image-bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 38.375rem;
  height: 41.875rem;
}

.contact-us__image-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-us__logo {
  position: absolute;
  top: 6.5146579805%;
  left: 9.1205211726%;
}

.contact-us__alt-img {
  position: absolute;
  bottom: 9.1205211726%;
  left: 9.1205211726%;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 117.5438596491%;
  color: #ffffff;
  max-width: 26.25rem;
}

.contact-us__form-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.875rem;
  padding-right: 2.875rem;
  background: #f5f9ff;
}

.contact-us__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 118.75%;
  color: #263238;
}

.contact-us__form {
  margin-top: 2.5rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 1.5rem;
  width: 100%;
}

.contact-form__field {
  width: 100%;
}

.contact-form__field_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.contact-form__input {
  background: #ffffff;
  border: 0.0625rem solid #d9dbdf;
  border-radius: 0.25rem;
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  font-size: 1rem;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.contact-form__input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.contact-form__input::-webkit-input-placeholder {
  color: #9192a1;
}

.contact-form__input::-moz-placeholder {
  color: #9192a1;
}

.contact-form__input:-moz-placeholder {
  color: #9192a1;
}

.contact-form__input:-ms-input-placeholder {
  color: #9192a1;
}

.contact-form__input:hover {
  border-color: #a2a7b0;
}

.contact-form__input:focus {
  -webkit-box-shadow: 0 0 0 0.1875rem rgba(16, 24, 89, 0.4);
          box-shadow: 0 0 0 0.1875rem rgba(16, 24, 89, 0.4);
}

.contact-form__input_textarea {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 10rem;
  resize: none;
}

.contact-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__label:hover {
  cursor: pointer;
}

.contact-form__label:hover .contact-form__checkbox {
  border-color: #101859;
}

.contact-form__label input {
  display: none;
}

.contact-form__label input:checked + .contact-form__checkbox {
  background: #101859;
  border-color: #101859;
}

.contact-form__label input:checked + .contact-form__checkbox svg {
  opacity: 1;
}

.contact-form__checkbox {
  position: relative;
  display: block;
  min-width: 1.125rem;
  min-height: 1.125rem;
  background: #fff;
  border: 0.0625rem solid #d9dbdf;
  border-radius: 0.25rem;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
  margin-right: 0.5rem;
}

.contact-form__checkbox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
  opacity: 0;
}

.contact-form__text-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 128.5714285714%;
  color: #5e676b;
}

.contact-form__button {
  width: 100%;
  height: 3rem;
  background: #101859;
  border-radius: 0.125rem;
  color: #ffffff;
  font-weight: 700;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.contact-form__button:hover {
  background: #182484;
}

.footer {
  padding: 20px 0;
  background: #131313;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 75em) {
  .promo__title {
    font-size: 4rem;
  }

  .about__label-img_modern {
    width: 19.4375rem;
  }

  .about__label-img_modern {
    height: 12.1875rem;
  }

  .about__label-img_simple {
    width: 16.5rem;
  }

  .about__label-img_simple {
    height: 12.3125rem;
  }

  .about__label-img_smart {
    width: 19.375rem;
  }

  .about__label-img_smart {
    height: 14.6875rem;
  }
}

@media (min-width: 90em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .promo__img {
    width: 30.25rem;
  }

  .promo__img {
    height: 35.375rem;
  }

  .contact-us__alt-img {
    font-size: 3.5rem;
  }
}

@media (max-width: 1250.98px) {
  .label-promo_bottom {
    bottom: 1rem;
  }

  .label-promo_right {
    right: -0.625rem;
  }
}

@media (max-width: 1000.98px) {
  .label-promo_bottom {
    bottom: 7.4380165289%;
  }

  .label-promo_right {
    right: -8.4710743802%;
  }

  .promo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__description-column {
    padding-top: 0;
  }

  .promo__title {
    text-align: center;
    max-width: 100%;
  }

  .promo__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__form {
    width: 100%;
    margin: 1.5625rem auto 0;
  }

  .promo__field {
    margin: 0 auto;
  }

  .promo__img {
    width: 30.25rem;
    height: 35.375rem;
  }
}

@media (max-width: 1000.98px) and (max-width: 20em) {
  .promo__image-column {
    margin-top: 3.5625rem;
  }
}

@media (max-width: 768.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 15;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #263238;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu.menu-open span {
    width: 0;
    background-color: #263238;
  }

  .icon-menu.menu-open::before,
  .icon-menu.menu-open::after {
    background-color: #263238;
  }

  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header {
    height: 70px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__started {
    margin-left: 0;
  }

  .menu {
    position: fixed;
    height: 100%;
    left: -100%;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E4F5F2), color-stop(61.81%, #FFFFFF));
    background: -o-linear-gradient(top, #E4F5F2 0%, #FFFFFF 61.81%);
    background: linear-gradient(180deg, #E4F5F2 0%, #FFFFFF 61.81%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: auto;
    padding: 6.25rem 1.25rem 1.25rem;
    -webkit-transition: left 350ms ease-in-out;
    -o-transition: left 350ms ease-in-out;
    transition: left 350ms ease-in-out;
    row-gap: 1.25rem;
  }

  .menu.menu-open {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .menu__item {
    width: 100%;
  }

  .promo {
    padding-top: 6.25rem;
  }

  .about {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .about_simple .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about_simple .about__text-column {
    padding-right: 0;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__image-column_simple {
    padding-left: 0.75rem;
  }

  .about__image-column {
    max-width: 100%;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .about__picture {
    max-width: 100%;
  }

  .about__text-column {
    padding-left: 0;
    padding-top: 1.5rem;
  }

  .about__subtitle_icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .about__subtitle_text {
    font-size: 1rem;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .about__article {
    row-gap: 0.75rem;
  }

  .about__article p {
    font-size: 0.875rem;
  }

  .contact-us {
    padding-top: 3.75rem;
    padding-bottom: 3rem;
  }

  .contact-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-us__image-column {
    width: 100%;
  }

  .contact-us__image-bg {
    max-width: 100%;
  }

  .contact-us__logo {
    left: 1.5rem;
    top: 1.5rem;
  }

  .contact-us__alt-img {
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .contact-us__form-column {
    padding: 1.5rem;
  }

  .contact-form__field_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
  }

  .contact-form__input {
    padding: 0 1rem;
  }

  .contact-form__input_textarea {
    height: 7.5rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 768.98px) and (max-width: 20em) {
  .about__picture {
    height: 21rem;
  }

  .contact-us__image-bg {
    height: 22.25rem;
  }
}

@media (max-width: 730.98px) {
  .label-promo_top {
    left: -4.132231405%;
  }

  .label-promo_bottom {
    left: -10.3305785124%;
    bottom: 3.7190082645%;
  }
}

@media (max-width: 600.98px) {
  .label-promo {
    -ms-grid-columns: 1.5rem 1fr;
    grid-template-columns: 1.5rem 1fr;
    -webkit-column-gap: 0.25rem;
       -moz-column-gap: 0.25rem;
            column-gap: 0.25rem;
    padding: 0.5rem 0.5rem;
  }

  .label-promo_top {
    left: 0;
  }

  .label-promo_bottom {
    left: 0;
  }

  .label-promo_right {
    right: 0;
  }

  .label-promo__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .label-promo__icon svg {
    width: 0.75rem;
    height: 0.75rem;
  }

  .label-promo__name {
    font-size: 0.875rem;
  }

  .label-promo__time_text {
    font-size: 0.625rem;
  }

  .label-doctor {
    -ms-grid-columns: 2.25rem 1fr 2.5rem;
    grid-template-columns: 2.25rem 1fr 2.5rem;
    padding: 0.5rem;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }

  .label-doctor__img {
    height: 2.25rem;
  }

  .label-doctor__name {
    margin-bottom: 0.125rem;
    font-size: 0.875rem;
  }

  .label-doctor__vocation {
    font-size: 0.75rem;
  }

  .label-doctor__btn {
    font-size: 0.75rem;
    height: 1.75rem;
  }

  .promo__image-column {
    width: 560px;
    max-width: 100%;
  }

  .promo__title {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .promo__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .promo__item-text {
    font-size: 0.875rem;
  }

  .promo__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
    width: 100%;
    height: 100%;
  }

  .promo__field input {
    width: 100%;
    margin-bottom: 0.75rem;
    border: 1px solid #101859;
    border-radius: 2px;
    height: 2.375rem;
  }

  .promo__field button {
    width: 100%;
    height: 2.625rem;
    border: 1px solid #101859;
    border-radius: 2px;
  }

  .promo__img {
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media (max-width: 600.98px) and (max-width: 20em) {
  .promo__img {
    width: 13.125rem;
  }

  .promo__img {
    height: 17.5rem;
  }
}

@media (max-width: 510.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 425.98px) {
  [class*=__container] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .header__started {
    width: 100%;
  }
}

@media (max-width: 20em) {
  .promo__title {
    font-size: 2.5rem;
  }

  .about__label-img_modern {
    width: 11.375rem;
  }

  .about__label-img_modern {
    height: 7.0625rem;
  }

  .about__label-img_simple {
    width: 11.375rem;
  }

  .about__label-img_simple {
    height: 8.4375rem;
  }

  .about__label-img_smart {
    width: 11.375rem;
  }

  .about__label-img_smart {
    height: 8.5625rem;
  }

  .contact-us__alt-img {
    font-size: 1.875rem;
  }
}

@media (max-width: 62.5em) {
  .promo__img {
    width: 22.5rem;
  }

  .promo__img {
    height: 30rem;
  }
}

@media (min-width: 48em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem );
         -moz-column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem );
              column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 42);
         -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 42);
              column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 42);
    }
}
}

@media (max-width: 1000.98px) and (min-width: 75em) {
  .promo__image-column {
    margin-top: 2.5rem;
  }
}

@media (max-width: 1000.98px) and (min-width: 20em) and (max-width: 75em) {
@supports (margin-top: clamp( 2.5rem , 3.9488636364rem  +  -1.9318181818vw , 3.5625rem )) {
    .promo__image-column {
      margin-top: clamp( 2.5rem , 3.9488636364rem  +  -1.9318181818vw , 3.5625rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 3.9488636364rem  +  -1.9318181818vw , 3.5625rem )) {
    .promo__image-column {
      margin-top: calc(3.5625rem + -1.0625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 2.5rem , 1.9545454545rem  +  2.7272727273vw , 4rem )) {
    .promo__title {
      font-size: clamp( 2.5rem , 1.9545454545rem  +  2.7272727273vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9545454545rem  +  2.7272727273vw , 4rem )) {
    .promo__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 11.375rem , 8.4431818182rem  +  14.6590909091vw , 19.4375rem )) {
    .about__label-img_modern {
      width: clamp( 11.375rem , 8.4431818182rem  +  14.6590909091vw , 19.4375rem );
    }
}

@supports not (width: clamp( 11.375rem , 8.4431818182rem  +  14.6590909091vw , 19.4375rem )) {
    .about__label-img_modern {
      width: calc(11.375rem + 8.0625 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 7.0625rem , 5.1988636364rem  +  9.3181818182vw , 12.1875rem )) {
    .about__label-img_modern {
      height: clamp( 7.0625rem , 5.1988636364rem  +  9.3181818182vw , 12.1875rem );
    }
}

@supports not (height: clamp( 7.0625rem , 5.1988636364rem  +  9.3181818182vw , 12.1875rem )) {
    .about__label-img_modern {
      height: calc(7.0625rem + 5.125 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 11.375rem , 9.5113636364rem  +  9.3181818182vw , 16.5rem )) {
    .about__label-img_simple {
      width: clamp( 11.375rem , 9.5113636364rem  +  9.3181818182vw , 16.5rem );
    }
}

@supports not (width: clamp( 11.375rem , 9.5113636364rem  +  9.3181818182vw , 16.5rem )) {
    .about__label-img_simple {
      width: calc(11.375rem + 5.125 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 8.4375rem , 7.0284090909rem  +  7.0454545455vw , 12.3125rem )) {
    .about__label-img_simple {
      height: clamp( 8.4375rem , 7.0284090909rem  +  7.0454545455vw , 12.3125rem );
    }
}

@supports not (height: clamp( 8.4375rem , 7.0284090909rem  +  7.0454545455vw , 12.3125rem )) {
    .about__label-img_simple {
      height: calc(8.4375rem + 3.875 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 11.375rem , 8.4659090909rem  +  14.5454545455vw , 19.375rem )) {
    .about__label-img_smart {
      width: clamp( 11.375rem , 8.4659090909rem  +  14.5454545455vw , 19.375rem );
    }
}

@supports not (width: clamp( 11.375rem , 8.4659090909rem  +  14.5454545455vw , 19.375rem )) {
    .about__label-img_smart {
      width: calc(11.375rem + 8 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 8.5625rem , 6.3352272727rem  +  11.1363636364vw , 14.6875rem )) {
    .about__label-img_smart {
      height: clamp( 8.5625rem , 6.3352272727rem  +  11.1363636364vw , 14.6875rem );
    }
}

@supports not (height: clamp( 8.5625rem , 6.3352272727rem  +  11.1363636364vw , 14.6875rem )) {
    .about__label-img_smart {
      height: calc(8.5625rem + 6.125 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 62.5em) and (max-width: 90em) {
@supports (width: clamp( 22.5rem , 4.8863636364rem  +  28.1818181818vw , 30.25rem )) {
    .promo__img {
      width: clamp( 22.5rem , 4.8863636364rem  +  28.1818181818vw , 30.25rem );
    }
}

@supports not (width: clamp( 22.5rem , 4.8863636364rem  +  28.1818181818vw , 30.25rem )) {
    .promo__img {
      width: calc(22.5rem + 7.75 * (100vw - 62.5rem) / 27.5);
    }
}

@supports (height: clamp( 30rem , 17.7840909091rem  +  19.5454545455vw , 35.375rem )) {
    .promo__img {
      height: clamp( 30rem , 17.7840909091rem  +  19.5454545455vw , 35.375rem );
    }
}

@supports not (height: clamp( 30rem , 17.7840909091rem  +  19.5454545455vw , 35.375rem )) {
    .promo__img {
      height: calc(30rem + 5.375 * (100vw - 62.5rem) / 27.5);
    }
}
}

@media (max-width: 600.98px) and (min-width: 37.5em) {
  .promo__img {
    width: 30.25rem;
  }

  .promo__img {
    height: 35.375rem;
  }
}

@media (max-width: 600.98px) and (min-width: 20em) and (max-width: 37.5em) {
@supports (width: clamp( 13.125rem , -6.4464285714rem  +  97.8571428571vw , 30.25rem )) {
    .promo__img {
      width: clamp( 13.125rem , -6.4464285714rem  +  97.8571428571vw , 30.25rem );
    }
}

@supports not (width: clamp( 13.125rem , -6.4464285714rem  +  97.8571428571vw , 30.25rem )) {
    .promo__img {
      width: calc(13.125rem + 17.125 * (100vw - 20rem) / 17.5);
    }
}

@supports (height: clamp( 17.5rem , -2.9285714286rem  +  102.1428571429vw , 35.375rem )) {
    .promo__img {
      height: clamp( 17.5rem , -2.9285714286rem  +  102.1428571429vw , 35.375rem );
    }
}

@supports not (height: clamp( 17.5rem , -2.9285714286rem  +  102.1428571429vw , 35.375rem )) {
    .promo__img {
      height: calc(17.5rem + 17.875 * (100vw - 20rem) / 17.5);
    }
}
}

@media (max-width: 768.98px) and (min-width: 48em) {
  .about__picture {
    height: 33.5rem;
  }

  .contact-us__image-bg {
    height: 41.875rem;
  }
}

@media (max-width: 768.98px) and (min-width: 20em) and (max-width: 48em) {
@supports (height: clamp( 21rem , 12.0714285714rem  +  44.6428571429vw , 33.5rem )) {
    .about__picture {
      height: clamp( 21rem , 12.0714285714rem  +  44.6428571429vw , 33.5rem );
    }
}

@supports not (height: clamp( 21rem , 12.0714285714rem  +  44.6428571429vw , 33.5rem )) {
    .about__picture {
      height: calc(21rem + 12.5 * (100vw - 20rem) / 28);
    }
}

@supports (height: clamp( 22.25rem , 8.2321428571rem  +  70.0892857143vw , 41.875rem )) {
    .contact-us__image-bg {
      height: clamp( 22.25rem , 8.2321428571rem  +  70.0892857143vw , 41.875rem );
    }
}

@supports not (height: clamp( 22.25rem , 8.2321428571rem  +  70.0892857143vw , 41.875rem )) {
    .contact-us__image-bg {
      height: calc(22.25rem + 19.625 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (font-size: clamp( 1.875rem , 1.4107142857rem  +  2.3214285714vw , 3.5rem )) {
    .contact-us__alt-img {
      font-size: clamp( 1.875rem , 1.4107142857rem  +  2.3214285714vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4107142857rem  +  2.3214285714vw , 3.5rem )) {
    .contact-us__alt-img {
      font-size: calc(1.875rem + 1.625 * (100vw - 20rem) / 70);
    }
}
}