.header {
  width: 100%;
  height: $headerHeight;
  border-bottom: rem(1) solid #d9dbdf;
  background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 62%);
  background: transparent;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 350ms ease-in-out, height 350ms ease-in-out;
  @include media(768) {
    height: $headerHeight - 30;
  }
  &.sticky {
    background: #fff;
    height: $headerHeight - 30;
    box-shadow: 0 rem(2) rem(15) rgba(#000, 5%);

  }
  &.menu-open {
    border-bottom: none;
    &::after {
      background: linear-gradient(180deg, #e4f5f2 0%, #e4f5f2 62%);
      border-bottom: rem(1) solid #d9dbdf;
      opacity: 1;
      z-index: 14;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 62%);
    z-index: 3;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
  }
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  // .header__logo
  &__logo {
    margin-right: rem(40);
    @include media(768) {
      margin-right: auto;
    }
  }
  // .header__menu
  &__menu {
  }
  // .header__started
  &__started {
    margin-left: auto;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(1) solid #d9dbdf;
    border-radius: rem(2);
    height: rem(48);
    width: rem(180);
    text-align: center;
    position: relative;
    z-index: 15;
    transition: $standartTrans;
    &:hover {
      border-color: $blueColor;
      box-shadow: $hoverBoxShadow;
    }
    @include media(768) {
      margin-left: 0;
    }
    @include media(425) {
      width: 100%;
    }
    // .header__started_text
    &_text {
      font-weight: 600;
      color: #263238;
      margin-right: rem(10);
    }
    // .header__started_icon
    &_icon {
      width: rem(24);
      height: rem(24);
    }
  }
}

.logo {
  width: rem(118);
  height: rem(36);
  position: relative;
  z-index: 15;
}
